extend layout.pug

block main
    h1 Om
    p Denna kurs går ut på att jobba med ramverk inom JavaScript.
    p Främst kommer det att jobbas med Express som server och utifrån bygga webbapplikationer samt realtids appar.
    br
    <img id="image" src="/img/javascript.png">
    br
    a(href='https://github.com/Ara95/ramverk2') Repo på Github
