extend layout.pug

block main
    h1 Chatt

    p Jag har tänkt mig att skapa en chatt-app där man skapar en användare för att komma in till chatten(ett rum för alla).
    p Allt detta ska då vara i realtid.

    h3 Tekniker
    p * Socket.io
    p * Express.js
    p * EJS template(låter dig skriva JavaScript-kod och genererar till HTML)
    p * MongoDB


    p Detta kommer vara uppdelat i en server samt klient. Har börjat med klient sidan mest och lite backend-kodning.

    p Repot på <a href="https://github.com/Ara95/ramverk2-app">Github</a>
