extend layout.pug

block main
    h1 Hem
    p Jag heter Ara och är 21 år gammal och kommer ifrån Örebro. Jag är en glad kille som är målinriktad med framtida planer.

    p I dagsläget studerar jag Webbprogrammering på BTH. Efter mina studier tänker jag mig att jag är en duktig webbprogrammerare som kanske kommer läsa Mastersutbildning.

    p Om inte det så kommer jag bo och jobba i Stockholm på något företag. Efter några års arbete då jag har samlat på mig erfarenhet så kommer jag förhoppningsvis starta eget företag och bygga upp något stort.

    p Bortsett från mina studier samt mål så älskar jag att träna och utvecklas inom det också.Jag tycker även det är kul att spendera tid med familj och vänner.

    <img id="image" src="/img/araa.jpg">.
