doctype html
html
    head
        meta(charset="utf-8")
        title= title
        block style
            link(rel="stylesheet", href="css/style.css")
    body
        block header
            div(class="site-header")
                div(class="site-title") Ara Nourbakhsh


        block navbar
        div(class="navbar")
        ul
            li
                <a href="/">Hem</a>
                <a href="/about">Om</a>
                <a href="/report">Redovisning</a>
                <a href="/app">Applikation</a>
                <a href="/chat">Chatt</a>
                <a href="/crud">Crud</a>

        block main
            main(class="main-content") Mainblock

        block footer
            div(class="site-footer")
                <p> Ramverk2</p>

        block script
            script(src="/js/move.js")
