extend layout.pug

block main
    main
        :markdown-it(linkify langPrefix='highlight-')
            # Kmom01
            ## Rubrik
            Another paragraph.


            # Kmom02
            ## Rubrik
            Another paragraph.


            # Kmom03
            ## Rubrik
            Another paragraph.


            # Kmom04
            ## Rubrik
            Another paragraph.


            # Kmom05
            ## Rubrik
            Another paragraph.


            # Kmom06
            ## Rubrik
            Another paragraph.


            # Kmom10
            ## Rubrik
            Another paragraph.
