extend layout.pug

block main
    main
        :markdown-it(linkify langPrefix='highlight-')
            # Kmom01

            ## Berätta utförligt om din syn på Express och Pug och hur de samverkar. Relatera till andra ramverk du jobbat med. Lyft fram de fördelar och eventuellt nackdelar du finner, eller bara notera skillnader och likheter.

             Både Express och Pug är helt nya för mig,  jag har tidigare hört talas om Express men inte Pug. Det känns ändå ganska likt det vi gjorde med Mithril och JavaScript i tidigare kurs, alltså själva syntaxen men Pug känns verkligen annorlunda. Kommer nog ta ett tag att bli helt van med det eftersom det är ytterst udda känns det som. Då jag länge velat sätta mig in i JavaScript och lära mig mer om det så passar Express perfekt i denna kurs, enligt mig. Det enda jag kan se “negativt” är att Pug är annorlunda och det inte känns det mest ultimata sättet att använda sig utav.

             Det enda jag kan jämföra med är Anax. Men att jobba med Express så måste man använda sig utav att starta en server. Men när det kommer till routes och sånt så fungerar det väl på liknande sätt mellan dessa två ramverk.

            ## Berätta om din katalogstruktur och hur du organiserade din kod, hur tänkte du?

             Jag försökte att tänka på samma sätt som vi gjort i tidigare kurser och Anax där katalogstrukturen varit bra och man har fått anstränga sig lite mer än andra kurser då det finns mycket att hålla koll på. Så bästa sättet är att ha en ordentlig struktur där alla delar av koderna är strukturerade. Alltså så valde jag att göra det så likt strukturer vi jobbat med innan för det kändes bäst så.

            ## Använde du någon form av scaffolding som Express erbjuder?

             Jag använde mig utav express-generator när jag byggde upp min struktur till me sidan. Men jag la till det i efterhand och kommer förmodligen att använda mig utav det helt i framtida kursmoment. Eftersom jag redan hade strukturerat så blev det krångligt att göra om.

            ## Jobbar du med Markdown för innehållet, eller annat liknande?

            Jag har inte valt att jobba med det ännu, men har absolut funderat på det. Kommer förmodligen lägga in det i framtida kursmoment då jag tycker det är bekvämt att jobba med det.




            # Kmom02
            ## Har du jobbat med Docker eller andra virtualiseringstekniker innan?
            Jag har inte jobbat med själva Docker innan så det var helt nytt för mig. Men jag har tidigare jobbat med VirtualBox som vi gjorde i Linux kursen om jag inte minns fel. Det var inte så jättedjupt inom det vilket det känns samma inför detta kursmoment. Det jag ser som är bra med Docker är att man kan bygga saker utifrån det utan att behöva att det står och snurrar som VirtualBox direkt på datorn. Samt att bygga upp en miljö att jobba inte verkar inte heller så krångligt i Docker.

            ## Hur ser du på möjligheterna att använda dig av Docker för att jobba med tester av ditt repo?
            Man kan enkelt testa sina versioner av ett repo i olika containrar och sedan se skillnaderna och utveckling av sina repon. Man kan enkelt utveckla vidare på sin version utan större problem och allt flyter på lättare. Det verkar dock intressant att lära sig lite mer utav Docker, det kan nog vara användbart i framtiden att ändå veta något extra om det.

            ## Gick allt smidigt eller stötte du på problem?
            När jag först läste instruktionerna om uppgiften med Docker och själva artikeln så trodde jag att det skulle bli jättekrångligt med att få allt att fungera. Så var det verkligen inte, det enda jag var tvungen var att sätta igång Hyper-V som jag tidigare stängt av och sedan starta om datorn för att få Docker att fungera.

            ## Skapade du din egen image, berätta om den?

            Nej det gjorde jag tyvärr inte. Kände mest att jag ville avsluta det på god fot så jag inte skulle tröttna. Kommer nog med tiden att våga mig på att testa lite mer inom Docker.

            # Kmom03
            ## Rubrik
            Another paragraph.


            # Kmom04
            ## Rubrik
            Another paragraph.


            # Kmom05
            ## Rubrik
            Another paragraph.


            # Kmom06
            ## Rubrik
            Another paragraph.


            # Kmom10
            ## Rubrik
            Another paragraph.
